<div class="container">
    <h1>Listas de Produtos</h1>

    <div class="formulario-tabela">
        <div class="formulario"><div>
            <label for="campo-nome">Nome</label>
            <input type="text" id="campo-nome" placeholder="Digite um texto" [(ngModel)]="nome">
        </div>

        <div class="categoria">
            <label for="campo-categoria">Categoria</label>
            <select name ="categoria" id="campo-categoria" [(ngModel)]="categoria">
                <option disabled selected>Selecione uma opção</option>
                <option value="Fruta">Fruta</option>
                <option value="Verdura">Verdura</option>
                <option value="Comida">Comida</option>
            </select>
        </div>    
            
        </div>
        <button (click)="salvarProduto()">Salvar</button>
        </div>

        <div class="tabela">
            <table border ="1">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Categoria</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    @for(produto of produtos; track produtos){
                        <tr>
                            <td>{{produto.id}}</td>
                            <td>{{produto.nome}}</td>
                            <td>{{produto.categoria}}</td>
                            <td>
                                <button (click)="editar(produto)">Editar</button>
                                <button (click)="apagar(produto)">Apagar</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    <div>
<div>

